
.login-container {
  background-color: #ffd1dc; 
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}


.login-card {
  position: relative;
  width: 320px;
  padding: 20px;
  border-radius: 12px;
  border: 2px solid transparent;
  background-color: #ffffff;
  overflow: hidden;

  /* Animação para "desenhar" a borda ouro envelhecido */
  animation: borderAnimation 2s forwards;
}

/* Após a animação da borda, os conteúdos do card aparecem */
.card-content {
  opacity: 0;
  animation: showContent 0.8s forwards;
  animation-delay: 2s; /* Espera a animação da borda acabar */
}

/* Animação para a borda ir "surgindo" na cor ouro */
@keyframes borderAnimation {
  0% {
    border-color: transparent;
  }
  100% {
    border-color: #daa520; 
  }
}

/* Exibe o conteúdo depois que a borda termina de ser desenhada */
@keyframes showContent {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Mensagem de erro em vermelho */
.error-text {
  color: red;
  margin-bottom: 10px;
}

/* Estilização dos inputs */
form input {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #daa520; 
  font-size: 1rem;
  box-sizing: border-box;
}


form input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

/* Botão de submit */
form button {
  display: inline-block;
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border-radius: 8px;
  border: 2px solid #daa520; 
  background-color: #daa520;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease; 
}


form button:hover {
  background-color: #e5a51b; 
  color: #1a1a1a; 
}

.register-prompt {
  margin-top: 10px;
  text-align: center;
}

.register-link {
  color: #daa520;
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
}

.register-link:hover {
  color: #e5a51b;
  text-decoration: none;
}
